:root {
    --main-bg: #babfda;
    --main-color: #5762c5;
    --secondary-color: #2a39c7;
}

header{
    background-color: var(--main-color);
    height: 50px;
    width: 100%;
    top: 0;
    position: fixed;
}

footer{
    background-color: var(--main-color);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    background-color: var(--main-bg);
    color: var(--main-color);
}

#content {
    display: flex;
    flex-direction: column;
    padding: 50px 0 100px 0;
    width : 80%;
    height: 10%;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.subcontent{
    width: 100%;
    max-width: 1000px;
    padding: 25px 0px 0px 0px;
    margin: auto;
}

p {
    text-align: justify;
}

img {
    object-fit: contain;
}

h1{
    text-align: center;
    font-size: 2em;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 0.8em;
}

ul {
    padding-left: 10%;
    list-style-type: none;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--main-bg);
    padding: 13px;
    text-decoration: none;
    text-align: center;
    background-color: var(--main-color);
}

li a:hover {
    background-color: var(--secondary-color);
}

.active {
    background-color: var(--main-bg);
    color: var(--main-color);
}

.active:hover {
    background-color: var(--main-bg);
    color: var(--main-color);
    cursor: default;
}

.menu-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu-item {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.menu-img{
    width: 50%;
    min-width: 250px;
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .menu-div{
        grid-template-columns: 1fr;
    }
    .menu-img{
        width: 50%;
        min-width:150px;
        height: 150px;
    }
    body{
        font-size: 1em;
    }

    li a {
        padding: 17px;
    }
  }

.text-div{
    padding-left: 20px;
    padding-right: 30px;
    width: 50%;
}

.menu-price{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-desc{
    font-size: 0.8em;
}